#wrapper{
    margin-top: 200px;
   margin-left: 190px;
}
.box-1{
    width: 70%;
    padding:40px;
    outline: 10px dotted #532C33 ;
    background-color: #A75867;  
}
.box-2{
    width: 85%;
    padding: 50px;
    outline:10px dotted #3b806e ;
    background-color: #BF8691;
    
    
}
.box-3{
    width:90%;
    padding:30px;
    outline:10px dotted rgb(82, 1, 28) ;
     background-color: #DDBEC4;
}
.box-3 p{
    margin-left: 20px;
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
}